@let userEducationInfo = educationInfo();

<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-card-title class="section-title"
        >Медицинское образование</ion-card-title
      >

      <ion-buttons slot="end">
        <ion-button
          (click)="navigateToUpdatePage('education-medical-worker-info')"
          fill="clear"
          size="small"
        >
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="full">
      @for (field of educationMedicalWorkerFields; track field.key) { @if
      (userEducationInfo?.[field.key]) {
      <ion-item>
        <ion-label class="custom-label" position="stacked">{{
          field.label
        }}</ion-label>
        <ion-text
          class="custom-text"
          >{{ userEducationInfo?.[field.key] }}</ion-text
        >
      </ion-item>
      } }
    </ion-list>
  </ion-card-content>
</ion-card>
