<ion-item-group [formGroup]="mobilePhoneNumberPasswordInfoFormGroup">
  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Мобильный номер телефона
      <ion-note
        >(Введите код оператора - 2 символа, и номер телефона - 7
        символов)</ion-note
      ></ion-label
    >
    <ion-input
      type="tel"
      formControlName="mobilePhoneNumber"
      class="margin-top"
      autocomplete="tel"
      aria-placeholder="+375-XX-XXX-XX-XX"
      maxlength="17"
      healthPhonePrefixFormatter
    ></ion-input>

    @if (checkInputValidator(mobilePhoneNumberPasswordInfoFormGroup,
    'mobilePhoneNumber', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (checkInputValidator(mobilePhoneNumberPasswordInfoFormGroup,
    'mobilePhoneNumber', 'minlength')) {
    <health-error-notification
      [errorNotificationProps]="
        formValidationErrorMessages.minLengthNumberPhone
      "
    ></health-error-notification>
    }
  </ion-item>

  @if(!isEditableUserInfo) {
  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Пароль <ion-note>(не менее 8-ми символов)</ion-note></ion-label
    >
    <ion-input
      type="password"
      formControlName="password"
      class="margin-top"
      autocomplete="new-password"
    ></ion-input>

    @if (checkInputValidator(mobilePhoneNumberPasswordInfoFormGroup, 'password',
    'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (checkInputValidator(mobilePhoneNumberPasswordInfoFormGroup,
    'password', 'minlength')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.minLengthPassword"
    ></health-error-notification>
    }
  </ion-item>
  }
</ion-item-group>
