<ion-item-group [formGroup]="personalInfoFormGroup">
  <ion-item class="section-title">Персональная информация</ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill">Фамилия</ion-label>
    <ion-input
      type="text"
      formControlName="lastName"
      class="margin-top"
      autocomplete="family-name"
      aria-placeholder="Введите вашу фамилию"
    ></ion-input>

    @if (checkInputValidator(personalInfoFormGroup, 'lastName', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill">Имя</ion-label>
    <ion-input
      type="text"
      class="margin-top"
      formControlName="firstName"
      autocomplete="given-name"
      aria-placeholder="Введите ваше имя"
    ></ion-input>

    @if (checkInputValidator(personalInfoFormGroup, 'firstName', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating"
      >Отчество <ion-note>(при наличии)</ion-note></ion-label
    >
    <ion-input
      type="text"
      formControlName="middleName"
      class="margin-top"
      autocomplete="on"
      aria-placeholder="Введите ваше отчество"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Дата рождения <ion-note>(выберите в календаре)</ion-note></ion-label
    >

    <ion-input
      type="text"
      formControlName="dateOfBirth"
      class="margin-top"
      placeholder="например, 01 января 2000 г."
      aria-placeholder="Выберите вашу дату рождения в календаре"
      autocomplete="off"
      readonly
    ></ion-input>

    @if (checkInputValidator(personalInfoFormGroup, 'dateOfBirth', 'required'))
    {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if(checkInputValidator(personalInfoFormGroup, 'dateOfBirth', 'pattern'))
    {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.pattern"
    ></health-error-notification>
    }

    <health-action-button
      (click)="toggleDatepicker()"
      [configProps]="{
      label: datepickerButtonLabel,
      isFormButton: false,
      isDisabled: false,
      routerLink: null,
  }"
    ></health-action-button>
  </ion-item>

  @if (isDatepickerOpen()) {
  <health-datepicker (dateChange)="onDateChange($event)"></health-datepicker>
  }

  <ion-radio-group formControlName="gender">
    <ion-item>
      <ion-label class="required-to-fill">Пол</ion-label>
    </ion-item>

    <ion-item
      (click)="personalInfoFormGroup.get('gender')?.setValue('Мужской')"
    >
      <ion-label>Мужской</ion-label>
      <ion-radio
        slot="start"
        value="Мужской"
        aria-placeholder="Выберите ваш пол"
      ></ion-radio>
    </ion-item>
    <ion-item
      (click)="personalInfoFormGroup.get('gender')?.setValue('Женский')"
    >
      <ion-label>Женский</ion-label>
      <ion-radio slot="start" value="Женский"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Фотография</ion-label
    >
    <input
      type="file"
      (change)="onPhotoUpload($event)"
      accept="image/*"
      #fileInput
      hidden
    />
    <health-action-button
      class="ion-margin-top"
      (click)="onClickFileInput(fileInput)"
      [configProps]="{
        label: 'выбрать фото',
        isFormButton: false,
        isDisabled: false,
        routerLink: null,
    }"
    ></health-action-button>

    @if (photoPreviewUrl()) {
    <figure class="photo-preview-url">
      <ion-thumbnail>
        <ion-img [src]="photoPreviewUrl()" alt="user photo"></ion-img>
      </ion-thumbnail>
      <figcaption>
        <ion-button color="danger" (click)="removePhoto()">
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
      </figcaption>
    </figure>
    } @if (checkInputValidator(personalInfoFormGroup, 'photo', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (!isImageType()) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.image"
    >
    </health-error-notification>
    }
  </ion-item>
</ion-item-group>
