<ion-item-group [formGroup]="contactInfoFormGroup">
  <ion-item class="section-title">Контактная информация</ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Электронная почта</ion-label
    >
    <ion-input
      type="email"
      formControlName="email"
      class="margin-top"
      autocomplete="email"
    ></ion-input>

    @if (checkInputValidator(contactInfoFormGroup, 'email', 'required')) {
    <health-error-notification
      [errorNotificationProps]="FORM_VALIDATION_CONSTANT.REQUIRED"
    ></health-error-notification>
    } @if (checkInputValidator(contactInfoFormGroup, 'email', 'email')) {
    <health-error-notification
      [errorNotificationProps]="FORM_VALIDATION_CONSTANT.EMAIL"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating">Домашний номер телефона</ion-label>
    <ion-input
      type="tel"
      formControlName="homePhoneNumber"
      class="margin-top"
      autocomplete="tel"
      placeholder="+375-XX-XXX-XX-XX"
      maxlength="17"
      healthPhonePrefixFormatter
    ></ion-input>
  </ion-item>
</ion-item-group>
