<ion-item-group [formGroup]="contactInfoFormGroup">
  <ion-item class="section-title">Контактная информация</ion-item>
  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Мобильный номер телефона
      <ion-note
        >(Введите код оператора - 2 символа, и номер телефона - 7
        символов)</ion-note
      ></ion-label
    >
    <ion-input
      type="tel"
      formControlName="mobilePhoneNumber"
      class="margin-top"
      autocomplete="tel"
      aria-placeholder="+375-XX-XXX-XX-XX"
      maxlength="17"
      healthPhonePrefixFormatter
    ></ion-input>

    @if (checkInputValidator(contactInfoFormGroup, 'mobilePhoneNumber',
    'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (checkInputValidator(contactInfoFormGroup, 'mobilePhoneNumber',
    'minlength')) {
    <health-error-notification
      [errorNotificationProps]="
        formValidationErrorMessages.minLengthNumberPhone
      "
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating">Домашний номер телефона</ion-label>
    <ion-input
      type="tel"
      formControlName="homePhoneNumber"
      class="margin-top"
      autocomplete="tel"
      placeholder="+375-XX-XXX-XX-XX"
      maxlength="17"
      healthPhonePrefixFormatter
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Электронная почта</ion-label
    >
    <ion-input
      type="email"
      formControlName="email"
      class="margin-top"
      autocomplete="email"
    ></ion-input>

    @if (checkInputValidator(contactInfoFormGroup, 'email', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (checkInputValidator(contactInfoFormGroup, 'email', 'email')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.email"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Пароль <ion-note>(не менее 8-ми символов)</ion-note></ion-label
    >
    <ion-input
      type="password"
      formControlName="password"
      class="margin-top"
      autocomplete="new-password"
    ></ion-input>

    @if (checkInputValidator(contactInfoFormGroup, 'password', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (checkInputValidator(contactInfoFormGroup, 'password', 'minlength')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.minLengthPassword"
    ></health-error-notification>
    }
  </ion-item>
</ion-item-group>
