<ion-item-group [formGroup]="identificationInfoFormGroup">
  <ion-item class="section-title">Идентификационная информация</ion-item>

  <ion-radio-group formControlName="userCitizenship">
    <ion-item>
      <ion-label class="required-to-fill">Гражданство</ion-label>
    </ion-item>

    <ion-item (click)="updateCitizenshipSignal('Республика Беларусь')">
      <ion-label>Республика Беларусь</ion-label>
      <ion-radio slot="start" value="Республика Беларусь"></ion-radio>
    </ion-item>
    <ion-item (click)="updateCitizenshipSignal('Иное')">
      <ion-label>Иное</ion-label>
      <ion-radio slot="start" value="Иное"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <!-- prettier-ignore нужен для запрета автоматического переноса строки -->
  <!-- prettier-ignore -->
  @if (userCitizenshipSignal() === "Республика Беларусь") {

  <!-- компонент с контролами для гражданина Беларуси -->
  <health-identification-info-form-for-citizens-belarus
    (formControls)="addControls($event)"
  >
  </health-identification-info-form-for-citizens-belarus>

  } @else {

  <!-- компонент с контролами для иностранного гражданина -->
  <health-identification-info-form-for-foreign-citizens
    (formControls)="addControls($event)"
  ></health-identification-info-form-for-foreign-citizens>
  }
</ion-item-group>
