<ion-item-group>
  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Идентификационный личный номер
      <ion-note>(14 символов)</ion-note></ion-label
    >
    <ion-input
      type="text"
      [formControl]="controls['personalIdentificationNumber']"
      class="margin-top"
      autocomplete="on"
      maxlength="14"
    ></ion-input>

    @if (checkInputValidator( 'personalIdentificationNumber', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (checkInputValidator( 'personalIdentificationNumber', 'minlength')) {
    <health-error-notification
      [errorNotificationProps]="
        formValidationErrorMessages.numberCharactersIdentificationNumber
      "
    ></health-error-notification>
    } @if (checkInputValidator( 'personalIdentificationNumber', 'maxlength')) {
    <health-error-notification
      [errorNotificationProps]="
        formValidationErrorMessages.numberCharactersIdentificationNumber
      "
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Серия и номер паспорта
      <ion-note>(использовать латинские символы)</ion-note></ion-label
    >
    <ion-input
      type="text"
      [formControl]="controls['passportSeriesNumber']"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator( 'passportSeriesNumber', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Дата выдачи паспорта
      <ion-note>(выберите в календаре)</ion-note></ion-label
    >

    <ion-input
      type="text"
      [formControl]="controls['passportIssueDate']"
      class="margin-top"
      placeholder="например, 01 января 2000 г."
      aria-placeholder="Выберите вашу дату рождения в календаре"
      readonly
    ></ion-input>

    @if (checkInputValidator( 'passportIssueDate', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if(checkInputValidator('passportIssueDate', 'pattern')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.pattern"
    ></health-error-notification>
    }

    <health-action-button
      (click)="toggleDatepicker()"
      [configProps]="{
      label: datepickerButtonLabel,
      isFormButton: false,
      isDisabled: false,
      routerLink: null,
      }"
    ></health-action-button>
  </ion-item>

  @if (isDatepickerOpen()) {
  <health-datepicker (dateChange)="onDateChange($event)"></health-datepicker>
  }

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Орган, выдавший паспорт</ion-label
    >
    <ion-input
      type="text"
      [formControl]="controls['passportIssuingAuthority']"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator( 'passportIssuingAuthority', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>
</ion-item-group>
