@let userAddressInfo = addressInfo(); @let addressType = addressTypeProps();

<!-- Карточка пользователя -->
<ion-card>
  <ion-card-header>
    <ion-toolbar>
      @switch (addressType) { @case ('addressRegistrationInfo') {
      <ion-card-title class="section-title">{{
        'Адрес регистрации'
      }}</ion-card-title>
      } @case ('addressResidenceInfo') {
      <ion-card-title class="section-title">{{
        'Адрес проживания'
      }}</ion-card-title>
      } @case ('addressMedicalInstitutionInfo') {
      <ion-card-title class="section-title">{{
        'Адрес места работы'
      }}</ion-card-title>
      } @default {
      <ion-card-title class="section-title">{{ 'Адрес' }}</ion-card-title>
      }}
      <ion-buttons slot="end">
        <ion-button
          (click)="editUserInfo(addressType)"
          fill="clear"
          size="small"
        >
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    <!-- Список данных пользователя -->
    <ion-list lines="full">
      @for (field of addressFields; track field.key) { @if
      (userAddressInfo?.[field.key]) {
      <ion-item>
        <ion-label class="custom-label" position="stacked">{{
          field.label
        }}</ion-label>
        <ion-text
          class="custom-text"
          >{{ userAddressInfo?.[field.key] }}</ion-text
        >
      </ion-item>
      } }
    </ion-list>
  </ion-card-content>
</ion-card>
