<ion-content>
  <div class="container">
    <health-personal-info-card></health-personal-info-card>

    <health-contact-info-card></health-contact-info-card>

    <health-identification-info-card></health-identification-info-card>

    <health-address-info-card addressTypeProps="addressRegistrationInfo">
    </health-address-info-card>

    <health-address-info-card addressTypeProps="addressResidenceInfo">
    </health-address-info-card>

    @if(userRole() === 'doctor') {
    <health-education-medical-worker-info-card></health-education-medical-worker-info-card>

    <health-place-work-info-card></health-place-work-info-card>

    <health-address-info-card addressTypeProps="addressMedicalInstitutionInfo">
    </health-address-info-card>
    }
  </div>
  <health-footer></health-footer>
</ion-content>
