<ion-content>
  <!-- Карточка пользователя -->
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <!-- Аватар пользователя -->
        <ion-avatar slot="start">
          <ion-img [src]="urlUserPhoto()" alt="user-photo" />
        </ion-avatar>
        <ion-label>
          <h2>
            {{ user()?.personalInfo?.lastName }}
            {{ user()?.personalInfo?.firstName }}
            {{ user()?.personalInfo?.middleName }}
          </h2>
          <p>Профиль пользователя</p>
        </ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <!-- Список данных пользователя -->
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Имя</ion-label>
          <ion-text>{{ user()?.personalInfo?.firstName }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Фамилия</ion-label>
          <ion-text>{{ user()?.personalInfo?.lastName }}</ion-text>
        </ion-item>

        @if (user()?.personalInfo?.middleName) {
        <ion-item>
          <ion-label position="stacked">Отчество</ion-label>
          <ion-text>{{ user()?.personalInfo?.middleName }}</ion-text>
        </ion-item>
        }

        <ion-item>
          <ion-label position="stacked">Электронная почта</ion-label>
          <ion-text>{{ user()?.contactInfo?.email }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Мобильный номер телефона</ion-label>
          <ion-text>{{
            user()?.mobilePhoneNumberPasswordInfo?.mobilePhoneNumber
          }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <!-- Кнопки действий -->
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <health-action-button
              [configProps]="{
                isFormButton: false,
                label: 'редактировать',
                isDisabled: false,
                routerLink: '/profile/edit'
              }"
            ></health-action-button>
          </ion-col>
          <ion-col size="6">
            <health-action-button
              (click)="onLogout()"
              [configProps]="{
                isFormButton: false,
                label: 'выйти',
                isDisabled: false,
                routerLink: null
              }"
            ></health-action-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>
</ion-content>
