<ion-item-group [formGroup]="identificationBelarusCitizenInfoFormGroup">
  <ion-item class="section-title"
    >Идентификационная информация гражданина Беларуси</ion-item
  >

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Идентификационный личный номер
      <ion-note>(14 символов)</ion-note></ion-label
    >
    <ion-input
      type="text"
      formControlName="personalIdentificationNumber"
      class="margin-top"
      autocomplete="on"
      maxlength="14"
    ></ion-input>

    @if (checkInputValidator(identificationBelarusCitizenInfoFormGroup,
    'personalIdentificationNumber', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    } @if (checkInputValidator(identificationBelarusCitizenInfoFormGroup,
    'personalIdentificationNumber', 'minlength')) {
    <health-error-notification
      [errorNotificationProps]="
        formValidationErrorMessages.numberCharactersIdentificationNumber
      "
    ></health-error-notification>
    } @if (checkInputValidator(identificationBelarusCitizenInfoFormGroup,
    'personalIdentificationNumber', 'maxlength')) {
    <health-error-notification
      [errorNotificationProps]="
        formValidationErrorMessages.numberCharactersIdentificationNumber
      "
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Серия и номер паспорта
      <ion-note>(использовать латинские символы)</ion-note></ion-label
    >
    <ion-input
      type="text"
      formControlName="passportSeriesNumber"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(identificationBelarusCitizenInfoFormGroup,
    'passportSeriesNumber', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Орган, выдавший паспорт</ion-label
    >
    <ion-input
      type="text"
      formControlName="passportIssuingAuthority"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(identificationBelarusCitizenInfoFormGroup,
    'passportIssuingAuthority', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Дата выдачи паспорта
      <ion-note>(выберите в календаре)</ion-note></ion-label
    >

    <ion-input
      type="text"
      formControlName="passportIssueDate"
      class="margin-top"
      placeholder="например, 12 января 2000 г."
      aria-placeholder="Выберите вашу дату рождения в календаре"
      readonly
    ></ion-input>

    @if (checkInputValidator(identificationBelarusCitizenInfoFormGroup,
    'passportIssueDate', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
    @if(checkInputValidator(identificationBelarusCitizenInfoFormGroup,'passportIssueDate',
    'pattern')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.pattern"
    ></health-error-notification>
    }

    <health-action-button
      (click)="toggleDatepicker()"
      [configProps]="{
      label: datepickerButtonLabel,
      isFormButton: false,
      isDisabled: false,
      routerLink: null,
      }"
    ></health-action-button>
  </ion-item>

  @if (isDatepickerOpen()) {
  <health-datepicker (dateChange)="onDateChange($event)"></health-datepicker>
  }
</ion-item-group>
