@let userPersonalInfo = user()?.personalInfo;

<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-card-title>Персональная информация</ion-card-title>
      <ion-buttons slot="end">
        <ion-button
          (click)="editUserInfo('personal')"
          fill="clear"
          size="small"
        >
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="full">
      <ion-item lines="none">
        <!-- Аватар пользователя -->
        <ion-avatar slot="start">
          <ion-img [src]="urlUserPhoto()" alt="user-photo" />
        </ion-avatar>
        <ion-label>
          <ion-text>
            {{ userRole() === 'patient' ? 'Пациент' : 'Доктор' }}
          </ion-text>
          <ion-title class="ion-no-padding">
            {{ userPersonalInfo?.lastName }}
            {{ userPersonalInfo?.firstName }}
            {{ userPersonalInfo?.middleName }}
          </ion-title>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Дата рождения</ion-label>
        <ion-text>{{ userPersonalInfo?.dateOfBirth }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Пол</ion-label>
        <ion-text>{{ userPersonalInfo?.gender }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
