@let userObj = user()?.personalInfo;

<ion-card>
  <ion-card-header>
    <ion-card-title>Персональная информация</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="full">
      <ion-item lines="none">
        <!-- Аватар пользователя -->
        <ion-avatar slot="start">
          <ion-img [src]="urlUserPhoto()" alt="user-photo" />
        </ion-avatar>
        <ion-label>
          <ion-text>
            {{ userRole() === 'patient' ? 'Пациент' : 'Доктор' }}
          </ion-text>
          <ion-title class="ion-no-padding">
            {{ userObj?.lastName }}
            {{ userObj?.firstName }}
            {{ userObj?.middleName }}
          </ion-title>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Дата рождения</ion-label>
        <ion-text>{{ userObj?.dateOfBirth }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Пол</ion-label>
        <ion-text>{{ userObj?.gender }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
