<ion-item-group [formGroup]="educationMedicalWorkerInfoFormGroup">
  <ion-item class="section-title">Медицинское образование</ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Наименование учреждения образования</ion-label
    >
    <ion-input
      type="text"
      formControlName="nameEducationalInstitution"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(educationMedicalWorkerInfoFormGroup,
    'nameEducationalInstitution', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Факультет</ion-label
    >
    <ion-input
      type="text"
      formControlName="faculty"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(educationMedicalWorkerInfoFormGroup, 'faculty',
    'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Специальность</ion-label
    >
    <ion-input
      type="text"
      formControlName="speciality"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(educationMedicalWorkerInfoFormGroup, 'speciality',
    'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Специализация</ion-label
    >
    <ion-input
      type="text"
      formControlName="specialization"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(educationMedicalWorkerInfoFormGroup,
    'specialization', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Номер диплома о высшем медицинском образовании</ion-label
    >
    <ion-input
      type="text"
      formControlName="numberDiplomaHigherMedicalEducation"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(educationMedicalWorkerInfoFormGroup,
    'numberDiplomaHigherMedicalEducation', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Номер лицензии на право осуществления медицинской деятельности</ion-label
    >
    <ion-input
      type="text"
      formControlName="licenseNumberMedicalActivities"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(educationMedicalWorkerInfoFormGroup,
    'licenseNumberMedicalActivities', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="required-to-fill"
      >Номер сертификата специалиста</ion-label
    >
    <ion-input
      type="text"
      formControlName="specialistCertificateNumber"
      class="margin-top"
      autocomplete="on"
    ></ion-input>

    @if (checkInputValidator(educationMedicalWorkerInfoFormGroup,
    'specialistCertificateNumber', 'required')) {
    <health-error-notification
      [errorNotificationProps]="formValidationErrorMessages.required"
    ></health-error-notification>
    }
  </ion-item>
</ion-item-group>
