<!-- Создаем переменную шаблона -->
@let userData = user();

<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-card-title>Контактная информация</ion-card-title>
      <ion-buttons slot="end">
        <ion-button (click)="editUserInfo('contact')" fill="clear" size="small">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Мобильный номер телефона</ion-label>
        <ion-text>{{
          userData?.mobilePhoneNumberPasswordInfo?.mobilePhoneNumber
        }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Домашний номер телефона</ion-label>
        <ion-text>{{ userData?.contactInfo?.homePhoneNumber }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Электронная почта</ion-label>
        <ion-text>{{ userData?.contactInfo?.email }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
