<!-- Создаем переменную шаблона -->
@let userData = user()?.contactInfo;

<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-card-title class="section-title"
        >Контактная информация</ion-card-title
      >
      <ion-buttons slot="end">
        <ion-button
          (click)="editUserInfo('contactInfo')"
          fill="clear"
          size="small"
        >
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="full">
      <ion-item>
        <ion-label class="custom-label" position="stacked"
          >Домашний номер телефона</ion-label
        >
        <ion-text class="custom-text">{{ userData?.homePhoneNumber }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label class="custom-label" position="stacked"
          >Электронная почта</ion-label
        >
        <ion-text class="custom-text">{{ userData?.email }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
