<form
  [formGroup]="changePasswordInfoFormGroup"
  (ngSubmit)="onSubmitChangedPassword()"
>
  <ion-item-group [formGroup]="changePasswordInfoFormGroup">
    <ion-item>
      <ion-label position="floating" class="required-to-fill"
        >Старый пароль
      </ion-label>
      <ion-input
        type="password"
        formControlName="oldPassword"
        class="margin-top"
        autocomplete="new-password"
      ></ion-input>

      @if (checkInputValidator(changePasswordInfoFormGroup, 'oldPassword',
      'required')) {
      <health-error-notification
        [errorNotificationProps]="formValidationErrorMessages.required"
      ></health-error-notification>
      } @if (checkInputValidator(changePasswordInfoFormGroup, 'oldPassword',
      'minlength')) {
      <health-error-notification
        [errorNotificationProps]="formValidationErrorMessages.minLengthPassword"
      ></health-error-notification>
      }
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="required-to-fill"
        >Новый пароль <ion-note>(не менее 8-ми символов)</ion-note></ion-label
      >
      <ion-input
        type="password"
        formControlName="newPassword"
        class="margin-top"
        autocomplete="new-password"
      ></ion-input>

      @if (checkInputValidator(changePasswordInfoFormGroup, 'newPassword',
      'required')) {
      <health-error-notification
        [errorNotificationProps]="formValidationErrorMessages.required"
      ></health-error-notification>
      } @if (checkInputValidator(changePasswordInfoFormGroup, 'newPassword',
      'minlength')) {
      <health-error-notification
        [errorNotificationProps]="formValidationErrorMessages.minLengthPassword"
      ></health-error-notification>
      }
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="required-to-fill"
        >Подтверждение нового пароля</ion-label
      >
      <ion-input
        type="password"
        formControlName="newPasswordConfirmation"
        class="margin-top"
        autocomplete="new-password"
      ></ion-input>

      @if (checkInputValidator(changePasswordInfoFormGroup,
      'newPasswordConfirmation', 'required')) {
      <health-error-notification
        [errorNotificationProps]="formValidationErrorMessages.required"
      ></health-error-notification>
      } @if (checkInputValidator(changePasswordInfoFormGroup,
      'newPasswordConfirmation', 'minlength')) {
      <health-error-notification
        [errorNotificationProps]="formValidationErrorMessages.minLengthPassword"
      ></health-error-notification>
      }
    </ion-item>
  </ion-item-group>

  <ion-button type="submit" class="ion-margin-vertical">
    <ion-icon slot="start" name="save"></ion-icon>
    Сохранить
  </ion-button>
</form>
