<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Зарегистрироваться как ...</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <health-action-button
          class="ion-margin"
          [configProps]="{
                isFormButton: false,
                label: 'пациент',
                isDisabled: false,
                routerLink: '/auth/registration/patient',
              }"
        ></health-action-button>

        <health-action-button
          class="ion-margin"
          [configProps]="{
                isFormButton: false,
                label: 'медработник',
                isDisabled: false,
                routerLink: '/auth/registration/doctor',
              }"
        ></health-action-button>

        <div class="ion-margin-top">
          <a routerLink="../login" class="no-underline">
            Уже зарегистрированы? Войти...
          </a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
