<ion-header>
  <ion-toolbar color="medium">
    <div class="container">
      <ion-title class="ion-text-center">
        Зарегистрироваться как ...
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <health-action-button
          class="ion-margin"
          [configProps]="{
                isFormButton: false,
                label: 'пациент',
                isDisabled: false,
                routerLink: '/auth/registration/patient',
              }"
        ></health-action-button>

        <health-action-button
          class="ion-margin"
          [configProps]="{
                isFormButton: false,
                label: 'медработник',
                isDisabled: false,
                routerLink: '/auth/registration/doctor',
              }"
        ></health-action-button>

        <div class="ion-margin-top">
          <a routerLink="../login" class="ion-text-secondary no-underline">
            Уже зарегистрированы? Войти...
          </a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
