<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title class="section-title ion-margin-bottom"
          >Зарегистрироваться как ...</ion-card-title
        >
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <ion-router-link
          routerLink="/auth/registration/patient"
          class="custom-router-link_button_v2"
        >
          ПАЦИЕНТ
        </ion-router-link>

        <ion-router-link
          routerLink="/auth/registration/doctor"
          class="custom-router-link_button_v2"
        >
          МЕДРАБОТНИК
        </ion-router-link>

        <div class="ion-margin-top">
          <ion-router-link
            routerLink="/auth/login"
            class="no-underline cursor-pointer"
          >
            Уже зарегистрированы? Войти...
          </ion-router-link>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
