<ion-button
  color="light"
  (click)="openPopover($event)"
  class="ion-margin-start"
>
  <ion-icon name="menu"></ion-icon>
</ion-button>

<ion-popover
  [isOpen]="isPopoverOpen"
  [event]="popoverEvent"
  (ionPopoverDidDismiss)="closePopover()"
>
  <ng-template>
    <ion-list>
      @if (isAuth()) {
      <ion-item button (click)="navigateToUserProfile()" lines="full">
        <ion-icon name="person" slot="start"></ion-icon>
        Профиль
      </ion-item>
      <ion-item button (click)="navigateToUserSettings()" lines="full">
        <ion-icon name="settings" slot="start"></ion-icon>
        Настройки профиля
      </ion-item>
      <ion-item button (click)="onLogout()" lines="full">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Выйти
      </ion-item>
      } @else {
      <ion-item button>
        <ion-icon name="settings" slot="start"></ion-icon>
        Настройки
      </ion-item>
      }
    </ion-list>
  </ng-template>
</ion-popover>
