<ion-header>
  <ion-toolbar color="medium">
    <div class="container flex">
      <h3>Health</h3>

      <div class="flex">
        <div>
          <ion-router-link
            routerLink="/home"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="custom-router-link_button_v1"
          >
            <ion-icon name="home"></ion-icon>
            ГЛАВНАЯ
          </ion-router-link>

          @if (isAuthenticated()) {

          <ion-router-link
            routerLink="/user-profile"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="custom-router-link_button_v1"
          >
            <ion-icon name="person"></ion-icon>
            ПРОФИЛЬ
          </ion-router-link>

          } @else {

          <ion-router-link
            routerLink="/auth/login"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="custom-router-link_button_v1"
          >
            <ion-icon name="log-in"></ion-icon>
            ВХОД
          </ion-router-link>

          <ion-router-link
            routerLink="/auth/registration"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="custom-router-link_button_v1"
          >
            <ion-icon name="person-add"></ion-icon>
            РЕГИСТРАЦИЯ
          </ion-router-link>
          }
        </div>

        <health-burger-menu></health-burger-menu>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
