<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Регистрация пациента</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmitForm()">
          <ion-list>
            <health-personal-info-form
              (formReady)="addFormGroup('personalInfo', $event)"
            ></health-personal-info-form>

            <health-identification-info-form
              (formReady)="addFormGroup('identificationInfo', $event)"
            ></health-identification-info-form>

            <health-address-info-form
              addressTypeProps="Адрес регистрации"
              (formReady)="addFormGroup('addressRegistrationInfo', $event)"
            ></health-address-info-form>

            <ion-item>
              <ion-label (click)="toggleCheckboxCopyRegistrationAddress()"
                >Адрес регистрации соответствует адресу фактического
                проживания</ion-label
              >
              <ion-checkbox
                (ionChange)="toggleCheckboxCopyRegistrationAddress()"
                [checked]="isRegistrationAndResidenceAddressesMatch()"
                slot="start"
              ></ion-checkbox>
            </ion-item>

            <health-address-info-form
              addressTypeProps="Адрес фактического проживания"
              (formReady)="addFormGroup('addressResidenceInfo', $event)"
            ></health-address-info-form>

            <health-contact-info-form
              (formReady)="addFormGroup('contactInfo', $event)"
            ></health-contact-info-form>

            <health-mobile-phone-number-password-info-form
              (formReady)="
                addFormGroup('mobilePhoneNumberPasswordInfo', $event)
              "
            ></health-mobile-phone-number-password-info-form>

            <ion-item lines="none" class="ion-margin-top">
              <health-action-button
                [configProps]="{
                isFormButton: true,
                label: 'зарегистрироваться',
                isDisabled: registrationForm.invalid || isSubmittingForm(),
                routerLink: null,
              }"
              ></health-action-button>
            </ion-item>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
