<!-- Создаем переменную шаблона -->
@let userData = user()?.mobilePhoneNumberPasswordInfo;

<ion-card>
  <ion-card-header>
    <ion-toolbar>
      <ion-card-title class="section-title">Логин и пароль</ion-card-title>

      <ion-buttons slot="end">
        <ion-button
          (click)="editUserInfo('mobilePhoneNumberPasswordInfo')"
          fill="clear"
          size="small"
        >
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <ion-card-content>
    <ion-list lines="full">
      <ion-item>
        <ion-label class="custom-label" position="stacked"
          >Мобильный номер телефона</ion-label
        >
        <ion-text class="custom-text">{{
          userData?.mobilePhoneNumber
        }}</ion-text>
      </ion-item>
      <ion-item lines="none" class="ion-margin-top">
        <health-action-button
          [configProps]="{
          isFormButton: false,
          label: 'изменить пароль',
          isDisabled: false,
          routerLink: '/user-profile/edit/update-password',
        }"
        ></health-action-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
