<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
          <ion-list>
            <health-mobile-phone-number-password-info-form
              (formReady)="addFormGroup($event)"
              [editableInfoProps]="false"
            ></health-mobile-phone-number-password-info-form>

            <ion-item>
              <ion-label (click)="onCheckboxChange()"
                >Войти как медработник</ion-label
              >
              <ion-checkbox
                slot="start"
                [checked]="isDoctor()"
                (ionChange)="onCheckboxChange()"
              ></ion-checkbox>
            </ion-item>
          </ion-list>

          <div>
            <health-action-button
              [configProps]="{
                isFormButton: true,
                label: 'войти',
                isDisabled: loginForm.invalid || isSubmittingForm(),
                routerLink: null,
              }"
            ></health-action-button>
          </div>
        </form>

        <div class="ion-margin-top">
          <ion-router-link
            routerLink="/auth/registration"
            class="ion-text-secondary no-underline cursor-pointer"
          >
            Ещё нет аккаунта? Зарегистрироваться...
          </ion-router-link>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
