<ion-header>
  <div class="container">
    <ion-toolbar color="medium">
      <ion-title>Авторизация</ion-title>
      <ion-buttons slot="end">
        <health-action-button
          [configProps]="{
            isFormButton: false,
            label: 'главная',
            isDisabled: false,
            routerLink: '../../home'
          }"
        ></health-action-button>
        <health-action-button
          [configProps]="{
            isFormButton: false,
            label: 'зарегистрироваться',
            isDisabled: false,
            routerLink: '../registration'
          }"
        ></health-action-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
            <health-mobile-phone-number-password-info-form
              (formReady)="addFormGroup($event)"
            ></health-mobile-phone-number-password-info-form>

            <ion-item>
              <ion-label (click)="onCheckboxChange()"
                >Войти как медработник</ion-label
              >
              <ion-checkbox
                slot="start"
                [checked]="isDoctor()"
                (ionChange)="onCheckboxChange()"
              ></ion-checkbox>
            </ion-item>

            <ion-item lines="none">
              <health-action-button
                [configProps]="{
                  isFormButton: true,
                  label: 'войти',
                  isDisabled: false,
                  routerLink: null,
                }"
              ></health-action-button>
            </ion-item>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <a
              routerLink="../registration"
              class="ion-text-secondary no-underline"
            >
              Ещё нет аккаунта? Зарегистрироваться...
            </a>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
