<ion-header>
  <div class="container">
    <ion-toolbar>
      <ion-title>Авторизация</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
            <health-mobile-phone-number-password-info-form
              (formReady)="addFormGroup($event)"
            ></health-mobile-phone-number-password-info-form>

            <ion-item>
              <ion-label>Войти как медработник</ion-label>
              <ion-checkbox
                slot="start"
                (ionChange)="onCheckboxChange($event)"
              ></ion-checkbox>
            </ion-item>

            <ion-item lines="none">
              <health-action-button
                [configProps]="{
                  isFormButton: true,
                  label: 'войти',
                  isDisabled: false,
                  routerLink: null,
                }"
              ></health-action-button>
            </ion-item>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
